@import url('colors.css');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--lpurple);
    max-height: 500px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding: 20px 0;
    background-color: var(--dpurple);
    border-radius: 8px;
    max-width: 70%;
    
}

.link {
    text-decoration: none;
    color: var(--text);
    font-size: 1.3em;
    border-radius: 3px;
    margin: 0 10px;
}

.pressed {
    background-color: var(--ddpurple);
    color: var(--ddpurple);
    border-radius: 8px;
    padding: 5px;
}