
@import url('colors.css');

table {
    margin: 10px;
    padding: 10px;
    align-content: center;
    background-color: var(--lpurple);
    border-radius: 8px;
}

.mini {
    width: 120px;
    height: 120px;
}

.button {
    margin: 10px;
    padding: 10px;
    background-color: var(--ddpurple);
    border-radius: 3px;
    border-color: var(--sdpurple);
    color: var(--text);
}

.image-container {
    position: relative;
    display: inline-block;
}

.text {
    color: var(--text);
    text-decoration: none;
}