<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Donación</title>
    <link rel="stylesheet" href="../static/agregar-donacion.css">
</head>
<body>
    <h1>Agregar Donacion</h1>


    <div class="main-container">
        <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        <form name="myForm" method="post" enctype="multipart/form-data">
            <h2>Completa con tu información</h2>
        
            <label for="name">Nombre:</label> 
            <input class="field" class="field" type="name" name="name" id="name" required><br>

            <label for="email">Email:</label>
            <input class="field" type="email" name="email" id="email" required><br>
        
            <label for="phone">Número celular:</label>
            <input class="field" type="text" name="phone" id="phone"><br>
        
            <label for="region">Región: </label>
            <select name="select-region" id="select-region" required>
                <option value=""> Selecciona una región </option>
            </select><br>
        
            <label for="comuna">Comuna:</label>
            <select name="select-comuna" id="select-comuna" required>
                <option value=""> Selecciona una comuna </option>
            </select>
            
            <h2>Información del Dispositivo</h2>
            
            <label for="dname">Nombre del dispositivo:</label>
            <input class="field" type="text" name="dname" id="dname" required><br>
        
            <label for="description">Descripción:</label>
            <input class="field" type="text" name="description" id="description" ><br>
        
            <label for="device">Tipo de dispositivo: </label>
            <select name="select-device" id="select-device" required>
                <option value="" disabled selected> Selecciona un tipo </option>
            </select><br>

            <label for="years-of-use">Años de uso:</label>
            <input class="field" type="text" name="years-of-use" id="years-of-use" required><br>

            <label for="state">Estado de Funcionamiento: </label>
            <select name="select-state" id="select-state" required>
                <option value="" disabled selected> Selecciona un tipo </option>
            </select><br>

            <label for="files">Imágenes</label>
            <input class="field" type="file" name="files" id="files" multiple accept="image/*,.pdf" required><br>
                
            <button type="submit">Enviar</button>
      
        </form>  
        
        
    </div>

    <script src="../static/validation.js"></script>
    <script src="../static/select.js"></script>

</body>


</html>