<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h2>Menú</h2>
        <table class="menu">
            
            <tr> <th><a id="e1" class= "link" href="/templates/agregar-donacion.html" 
                onmouseenter="overSomething('e1')"
                onmouseleave="leaveSomething('e1')"> Agregar Donación </a></th> </tr>
            <tr> <th><a id="e2" class= "link" href="/templates/ver-dispositivos.html" 
                onmouseenter="overSomething('e2')"
                onmouseleave="leaveSomething('e2')"> Ver Dispositivos </a></th> </tr>
        </table>
    </div>

    <script>
        // Cambio de colores en botones :D
        const overSomething = (elementId) => {
            var element = document.getElementById(elementId);
            element.style.backgroundColor = "var(--ddpurple)";
        }

        const leaveSomething = (elementId) => {
            var element = document.getElementById(elementId);
            element.style = "menu";
        }
    </script>

</body>
</html>