<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Dispositivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informacion-dispositivo.css') }}">
</head>
<body>
    <div class="dispositivo">
        <p id="tipo"></p>
        <p id="nombre"></p>
        <p id="estado"></p>
        <p id="comuna"></p>
    </div>

    <div id="seccion-comentarios"></div>
        <h2>Comentarios</h2>
        <ul id="lista_comentarios">
            <!-- Aquí se mostrarán los comentarios -->
        </ul>

        <h3>Agregar un nuevo comentario</h3>
        <form id="form_comentarios" action="{{ url_for('informacion_dispositivo', id=id)}}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required minlength="3" maxlength="80"> <br><br>

            <label for="texto">Comentario:</label>
            <textarea id="texto" name="texto" rows="4" cols="50" required minlength="5"></textarea> <br><br>

            <input type="submit" value=" Agregar comentario " class="button"></input>
        </form>

        <p id="message"></p>
    </div>

    <button class="button" type="button" id="menuButton">Volver al Menú Principal</button>
    <script>
        const menuUrl = "{{ url_for('menu') }}";
    </script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    
    <script>
    </script>

</body>
</html>