<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver-dispositivos.css') }}">
</head>
<body>
    <h1>VER DISPOSITIVOS</h1>
    

    <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre Dispositivo</th>
            <th scope="col">Estado</th>
            <th scope="col">Comuna</th>
            <th scope="col">Fotos</th>
          </tr>
        </thead>
        <tbody>
            <tr id ="1" type="Notebook" name="Lenovo Slim 5" state="Dañado" comuna="Estación Central" photo="../assets/image.png">
                <td>Notebook</td>
                <td>Lenovo Slim 5</td>
                <td>Dañado</td>
                <td>Estación Central</td>
                <td><img class="mini" src="../assets/image.png" alt="Foto 1"></td>
            </tr>
            <tr id ="2" type="Celular" name="Samsung Galaxy 10" state="Nuevo" comuna="Huechuraba" photo="../assets/image2.jpg">
                <td>Celular</td>
                <td>Samsung Galaxy 10</td>
                <td>Nuevo</td>
                <td>Huechuraba</td>
                <td><img class="mini" src="../assets/image2.jpg" alt="Foto 2"></td>
            </tr>
            
        </tbody>
      </table>

    <button class="button" type="button" id="menuButton">Volver al Menú Principal</button>
    <script>
        const menuUrl = "{{ url_for('menu') }}";
    </script>
    <script src="../static/js/base.js"></script>

    <script>
        document.getElementById('table').addEventListener('click', function(event) {
            const row = event.target.closest('tr');
            if (row) {
                const deviceData = {
                    type: row.getAttribute('type'),
                    nombre: row.getAttribute('nombre'),
                    state: row.getAttribute('state'),
                    comuna: row.getAttribute('comuna'),
                    photo: row.getAttribute('photo'),
                    id: row.getAttribute('id')
                };
                localStorage.setItem('deviceData', JSON.stringify(deviceData));
                
                window.location.assign("{{ url_for('informacion_dispositivo', id = id) }}"); 
            }
        });
    </script>
</body>
</html>